@CHARSET "UTF-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei","微软雅黑",arial,simsun,"宋体";}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
p{ }
a:hover{text-decoration:underline;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html { overflow-y: scroll; }

.highlight { padding:0 2px; color:#175c87;}
.clearfix .highlight { font-size:20px; }
.font14px { font-size:14px;}
.font16px { font-size:16px;}
.empty2em { text-indent: 2em; }
/*emoji*/
.emoji {width: 20px; height: 20px;}
.username .emoji {width: 16px; height: 16px;}
/*clearfix*/
.clearfix:after,.bbg_layout_container:after,.bbg_layout_container_uc:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:block;zoom:1}
.clear {display:block;clear:both;}
/*float*/
.fl, .left{float:left}
.fr, .right{float:right}
/*Link*/
a {color:#5B5B5B;;text-decoration:none;cursor:pointer}
a:hover {color:#00A2FF;text-decoration:none;}
/*color and highlight*/
.highlight_orange{color:#ecb95d;padding:0 2px;font-size:18px; }
.highlight_red{color:#ff2200;padding:0 2px;font-size:18px; }
.highlight_black{color:#000000;font-size:18px;}
.color_blue{color:#00b4ff}
.color_red{color:#f00}
.color_orange{color:#ecb95d;}
.color_white{color:white;}
.colorDBlue{color:#0988D4;}
.colorlightBlue{color:#00A2FF;}
.colorlightGray{color:#6e6e6e;}
.color_gray{color:#646464}
.colorGray{color:#5B5B5B;}
.noborder{border:none}
/*text&input*/
.texthide { text-indent:-200em; overflow:hidden; display:block}
.textcenter{text-align:center;}
.textright{text-align:right;}
.texthide:hover { text-decoration:none }
/*.btn{border:none;cursor:pointer}*/
.hide {display:none;}
.show {display:block;}
.textshadow { text-shadow:0px 1px 1px #000000; }

.fixh { padding-bottom: 32767px !important; margin-bottom: -32767px !important; }
.split { -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; -moz-binding: url('ellipsis.xml#ellipsis'); overflow: hidden; }

.blank20 { height:20px;display:block; }
/* ======= Common ======= */
.con_nofound { width:400px;height:300px;padding-top:100px;margin:0 auto;color:#555; }
    .con_nofound .Title { border:1px solid #ccc;padding:10px 20px;background:#f5f5f5;text-align:center;  }
    .con_nofound .bigTitle { font-size:60px;font-family:Trebuchet MS; }
    .con_nofound .subTitle { font-size:18px; }
    .con_nofound .hiddenTip {padding:10px; text-align:center; }

/**********************
* public / Layout
**********************/
.wrapper{width:960px;margin:0 auto;text-align:left;overflow:hidden}
.userPageWrapper{width:980px;background:#FFFFFF;border:1px solid #CDCDCD;margin-top:20px;margin-bottom:20px;}
.wrapperMax{width:100%;margin:0 auto;text-align:left;overflow:hidden}
.layout200{ width:200px;}
.layout300{ width:360px;}
.layout360{ width:360px;}
.layout768{ width:768px;}
.layout960{ width:960px;}
.layout980{ width:980px;}
.layout1000{ width:1000px;}
.layout1040{ width:1040px;}
.maxlayout1920{width:100%;max-width:1920px;}
.layoutH200{height:200px;}
.layoutH100{height:100px;}
.layoutH90{height:90px;}
.layoutH80{height:80px;}
.layoutH60{height:60px;}
.layoutH40{height:40px;}
.layoutH20{height:20px;}
.radius5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.radius10{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.radius20{-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}

body.bodyNormal{background:#f0f0f0;}
body.bodyNormal .indexBox{border:1px solid #dee2ea;background-color:#fff;margin-top:30px;}
/*Top wrapper*/
.mainTop{background:#f0f0f0;}

em.valiU_Correct,em.valiU_Error,em.valiU { color:#00a0e9; }

/* 通用信息提示 */
.About label,input {vertical-align:middle;}
.About label input {margin-top:-4px;*margin-top:0px;margin-right:2px;}
.About .pubMsgTip { border:1px solid #e7d9b6; background:#ffffd3;padding:15px 25px;margin:20px 0; }
.About p{line-height:22px;padding-bottom:10px;}
.About .warning { padding-left:35px; line-height:35px; background:url(static/w3-img/warning.png?1386649572) no-repeat 0 1px; }
.About .last{margin-bottom:40px;}

/*其他表单元素的定义*/
.fieldset *:focus { outline: none; }
.fieldset input.password, input.text { height: 22px;min-width:150px;_width:150px; padding: 4px; border: 1px solid #bbb; background: #fff; line-height: 14px; color:#555; }
input.vercode { min-width:75px;width:75px;}
.fieldset input.password.focus, input.text.focus { padding: 4px; border: 1px solid #00a0e9 !important; color:#222;background:#f5f9fc !important; }
.fieldset input.error, select.error, textarea.error { border:1px solid #d55000 !important;color:#d55000;background-color:#fff3e1; }
.fieldset input.valiU_TextError { /*padding: 4px; border: 1px solid #ff7f46;background:#fff5f0; */}

/*header*/
.HeaderWrapperWhite{width:100%;height:96px;background:#fafafa;border-bottom:1px solid #DDDDDD;}
.Index .BannerBg{height:674px;background:url('http://www.immomo.com/static/w4-img/banner.png') center center;}

/*black and gray header*/
.HeaderBg.blackHeader{height:90px;background:#000;background:rgba(0, 0, 0, 0.20) none repeat scroll 0 0 !important;filter:Alpha(opacity=20);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	_background:none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="headerbg.png");}
.HeaderBg.blackHeader .Header .Logo { display:block;float:left;width:120px;cursor:pointer;height:40px;margin-right:110px;background:url('logo.png') no-repeat;
	_margin-right:90px;_margin-top:22px;_background:url(logo.png) no-repeat;}
.HeaderBg.blackHeader .Header .divider span,.HeaderBg.grayHeader .Header .divider span{display:inline-block;position:relative;top:2px;*top:-1px;width:1px; height:13px;}
.HeaderBg.blackHeader .Header .divider span{background:url('index_slider.png');}

.Header {position:relative;padding-left:0px;padding-top:22px;_padding-top:0px;height:90px;overflow:visible;}
.Header .Menu { padding-top:12px;*width:50%;white-space:nowrap;overflow:visible;
	_margin-top:22px;}	
.Header .divider,.Header .Menu .lk{margin-right:18px;}
.Index .Header .divider,.Index .Header .Menu .lk ,.Index .Header .Menu .lk a {color:#fff;}
.Header .Menu .lk a { font-size:14px;}
.Header .Menu .lk.on a {color:#00A2FF;}
.Header .Menu .last { margin-right:0px; }
.Header .Menu .lk.vip{padding:4px 9px; margin-top:-9px;text-align:center; background:url('viptabbg.png'); _background:#0198ff;}
.Header .Menu .lk.vip a{color:white;}
.qrcode{display:block;width:120px;height:120px; margin-top:50px; margin-left:40px;background:url('qrcode120.png');}
.colorBtn{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.colorBtn a{display:block;width:100%;height:100%;}
.colorBtn a span{display:block;}
.blueBtn{	background: #d22729;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d22729), to(#e53223));background: -webkit-linear-gradient(#d22729, #e53223);background: -moz-linear-gradient(#d22729, #e53223);background: -ms-linear-gradient(#d22729, #e53223);background: -o-linear-gradient(#d22729, #e53223);background: linear-gradient(#d22729, #e53223);_background: #d22729;}
.blackBtn{background: #3D3636;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3D3636), to(#261e17));background: -webkit-linear-gradient(#3D3636, #261e17);background: -moz-linear-gradient(#3D3636, #261e17);background: -ms-linear-gradient(#3D3636, #261e17);background: -o-linear-gradient(#3D3636, #261e17);background: linear-gradient(#3D3636, #261e17);_background: #3D3636;}
.grayBtn{background:#5e5e5d;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5e5e5d), to(#434240));background: -webkit-linear-gradient(#5e5e5d, #434240);background: -moz-linear-gradient(#5e5e5d, #434240);background: -ms-linear-gradient(#5e5e5d, #434240);background: -o-linear-gradient(#5e5e5d, #434240);background: linear-gradient(#5e5e5d, #434240);_background: #5e5e5d;}
.lightGrayBtn{background:#f2f2f2;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2), to(#e5e5e5));background: -webkit-linear-gradient(#f2f2f2, #e5e5e5);background: -moz-linear-gradient(#f2f2f2, #e5e5e5);background: -ms-linear-gradient(#f2f2f2, #e5e5e5);background: -o-linear-gradient(#f2f2f2, #e5e5e5);background: linear-gradient(#f2f2f2, #e5e5e5);_background: #f2f2f2;}
.grayBtn:hover{background: #3D3636;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3D3636), to(#261e17));background: -webkit-linear-gradient(#3D3636, #261e17);background: -moz-linear-gradient(#3D3636, #261e17);background: -ms-linear-gradient(#3D3636, #261e17);background: -o-linear-gradient(#3D3636, #261e17);background: linear-gradient(#3D3636, #261e17);_background: #3D3636;}
/* ======= Common ======= */

.con_nofound { width:400px;height:300px;padding-top:100px;margin:0 auto;color:#555; }
    .con_nofound .Title { border:1px solid #ccc;padding:10px 20px;background:#f5f5f5;text-align:center;  }
    .con_nofound .bigTitle { font-size:60px;font-family:Trebuchet MS; }
    .con_nofound .subTitle { font-size:18px; }
    .con_nofound .hiddenTip {padding:10px; text-align:center; }

/* ======= Index ======= */
.Index .Banner {height:460px;background:url('static/w3-img/topBg.png') center center #000;overflow:visible;position:relative;}
.Index .intro{color:#fff;height:592px;}
	.Index .intro h1{font-size:38px;}
	.Index .intro h2{font-size:32px;font-weight:normal;}
	.Index .intro .intropic{width:571px;height:515px;background:url('phone2.png?1386649572');margin-top:83px;_background:url('/static/w4-img/phone2.gif?1386649572');_margin-top:91px;}
	.Index .intro .introBtns{margin-top:152px;margin-right:95px; _width:290px;}
	.Index .intro .introBtns .colorBtn{width:204px;height:64px;margin-bottom:20px;}
	.Index .intro .introBtns .downloadnow a span{width:154px;height:37px;background:url('downloadnow.png');_background:url('downloadnow.gif');position:relative;left:25px;top:13px;}


.Index 	.about{/*height:212px;*/padding-top:30px;padding-bottom:30px;}
.Index 	.about .bigText {width:320px;height:178px;border-right:1px dashed #dee2ea;}
.Index 	.about .bigText {display:block;width:200px;height:80px;color:#df5f00;margin-top:50px;margin-left:80px;}
.Index 	.about .bigText .cn{font-size:40px;}
.Index 	.about .bigText .en{font-size:20px;}
.Index 	.about .aboutContent {padding:0 42px 0 30px;width:480px;margin-top:12px;font-size:14px;}

.Index .Feature {}
.Index .Feature .featureItem{margin-left:100px;margin-right:100px;}
.Index .Feature .featureItem.ImgLeft .featureImg{margin-top:50px;margin-bottom:50px;float:left;}
.Index .Feature .featureItem.ImgLeft .featureNote{margin-top:50px;margin-bottom:50px;margin-right:180px;float:right;}
.Index .Feature .featureItem.ImgRight .featureImg{margin-top:50px;margin-bottom:50px;float:right;}
.Index .Feature .featureItem.ImgRight .featureNote{margin-top:50px;margin-bottom:50px;margin-left:180px;float:left;}
.Index .Feature .featureItem .featureImg{width:243px;height:170px;}
.Index .Feature .featureItem .feature1{background:url('feature1.jpg')  no-repeat;}
.Index .Feature .featureItem .feature2{background:url('feature2.jpg') no-repeat;}
.Index .Feature .featureItem .feature3{background:url('feature3.jpg') no-repeat;}
.Index .Feature .featureItem .featureNote{width:320px;}
.Index .Feature .featureItem .featureNote h3{font-size:20px;font-weight:normal;}
.Index .Feature .featureItem .featureNote p{font-size:14px;color:#666;}
.bottomLine{border-bottom:1px solid white;width:960px;}
.bottomLineGray{border-bottom:1px solid #6e6e6e;width:960px;}
.footerWrapperGray{width:100%;height:100px;background:#e8e8e8;border-top:1px solid #D6D6D6;}
.footerWrapper{padding:0px;width:100%;}
.footer{text-align:center;}
.CopyRight,.OtherInfo{margin-top:4px;margin-bottom:4px;}
.AboutMomo{margin-top:25px;margin-bottom:5px;}
	.AboutMomo a{margin:0 15px;}
.bignote{font-size:26px; line-height:42px;text-align:center;}
